/Testing/HexBoard Size4x4Swap RulesOffEnd RulesStandard/
/Testing/Tic-Tac-Toe/
/Testing/ReversiBoard Size6x6Start RulesFixed Start/
/Testing/lib/
/Testing/out/
/TestingSpesific/HexBoard Size4x4Swap RulesOffEnd RulesStandard/
/TestingSpesific/HexBoard Size5x5Swap RulesOffEnd RulesStandard/
/TestingSpesific/HexBoard Size6x6Swap RulesOffEnd RulesStandard/
/TestingSpesific/HexBoard Size7x7Swap RulesOffEnd RulesStandard/
/TestingSpesific/Tic-Tac-Toe/
/TestingSpesific/lib/
/TestingSpesific/out/
/GUITest/LudiiWrapper/Ludii-1.2.6.jar
/GUITest/MyWrapper/Ludii-1.2.6.jar
/Training/HexBoard Size4x4Swap RulesOffEnd RulesStandard/
/Training/Tic-Tac-Toe/
/Training/ReversiBoard Size6x6Start RulesFixed Start/
/Training/lib/
/Training/out/
/TrainingSpesific/HexBoard Size4x4Swap RulesOffEnd RulesStandard/
/TrainingSpesific/HexBoard Size5x5Swap RulesOffEnd RulesStandard/
/TrainingSpesific/HexBoard Size6x6Swap RulesOffEnd RulesStandard/
/TrainingSpesific/HexBoard Size7x7Swap RulesOffEnd RulesStandard/
/TrainingSpesific/Tic-Tac-Toe/
/TrainingSpesific/lib/
/TrainingSpesific/out/
/Testing/src/ai
/TestingSpesific/src/ai